<title>兑换码管理</title>
<div class="layui-fluid layui-card layui-container">
	<div class="layui-form" lay-filter="component-form-element">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md11">
				<fieldset class="layui-elem-field">
					<legend>操作</legend>
					<div class="layui-col-md6">
						<div class="layui-field-box">
							<div class="layui-btn-group">
								<button class="layui-btn layui-btn-sm">搜索</button>
								<button class="layui-btn layui-btn-sm" onclick="newCode()" id="newCode">兑换码创建</button>
								<button class="layui-btn layui-btn-sm" onclick="applyCode()" id="appCode">兑换码申请</button>
							</div>
						</div>
					</div>
				</fieldset>
				<br>
			</div>
			<div class="layui-col-md3" style="">
				<label class="layui-form-label">选择商户</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value="">请选择商户</option>
						<option value="1">layer</option>
						<option value="2">form</option>
						<option value="3">layim</option>
						<option value="4">element</option>
						<option value="5">laytpl</option>
						<option value="6">upload</option>
						<option value="7">laydate</option>
						<option value="8">laypage</option>
						<option value="9">flow</option>
						<option value="10">util</option>
						<option value="11">code</option>
						<option value="12">tree</option>
						<option value="13">layedit</option>
						<option value="14">nav</option>
						<option value="15">tab</option>
						<option value="16">table</option>
						<option value="17">select</option>
						<option value="18">checkbox</option>
						<option value="19">switch</option>
						<option value="20">radio</option>
					</select>
				</div>
			</div>
			<div class="layui-col-md9">
				<label class="layui-form-label">分配状态</label>
				<input type="checkbox" name="" title="未分配" checked>
				<input type="checkbox" name="" title="已分配">
				<input type="checkbox" name="" title="已关闭">
			</div>
			<div class="layui-form-item layui-col-md12">
				<div class="layui-inline">
					<label class="layui-form-label">活动日期</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="test-laydate-start" placeholder="开始日期">
					</div>
					<div class="layui-form-mid">
						-
					</div>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="test-laydate-end" placeholder="结束日期">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

<script type="text/html" id="test-table-operate-barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'table', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;
        table.render({
            elem: '#test-table-operate',
            url: "/div",
            height: 332,
            cols: [
                [{
                    type: 'checkbox',
                    fixed: 'left'
                }, {
                    field: 'id',
                    width: 80,
                    title: 'ID',
                }, {
                    field: 'username',
                    width: 80,
                    title: '用户名'
                }, {
                    field: 'sex',
                    width: 80,
                    title: '性别',
                    sort: true
                }, {
                    field: 'city',
                    width: 80,
                    title: '城市'
                }, {
                    field: 'sign',
                    width: 160,
                    title: '签名'
                }, {
                    field: 'experience',
                    width: 80,
                    title: '积分',
                    sort: true
                }, {
                    field: 'wealth',
                    width: 135,
                    title: '财富',
                    sort: true
                }, {
                    field: 'classify',
                    width: 80,
                    title: '职业'
                }, {
                    field: 'score',
                    width: 80,
                    title: '评分',
                    sort: true,
                    fixed: 'right'
                }, {
                    width: 178,
                    align: 'center',
                    fixed: 'right',
                    toolbar: '#test-table-operate-barDemo'
                }]
            ],
            page: true
        });

        //监听表格复选框选择
        table.on('checkbox(test-table-operate)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test-table-operate)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });


        var $ = layui.$,
            active = {
                getCheckData: function () { //获取选中数据
                    var checkStatus = table.checkStatus('test-table-operate'),
                        data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                },
                getCheckLength: function () { //获取选中数目
                    var checkStatus = table.checkStatus('test-table-operate'),
                        data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                },
                isAll: function () { //验证是否全选
                    var checkStatus = table.checkStatus('test-table-operate');
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                }
            };

        $('.test-table-operate-btn .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    //兑换码创建
    function newCode() {
        layer.open({
            type: 1,
            title: '兑换码申请',
            // closeBtn: 0,
            // shadeClose: false,
            area: ['800px', '350px'],
            skin: 'layui-layer-rim',
            content: '\t\t<form class="layui-form" style="margin: 15px">' +
            '\t\t\t<div class="layui-form-item">' +
            '\t\t\t\t<label class="layui-form-label">兑换码总量</label>' +
            '\t\t\t\t<div class="layui-input-block">' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">' +
            '\t\t\t\t</div>' +
            '\t\t\t</div>' +
            '\t\t\t<div class="layui-form-item">' +
            '\t\t\t\t<label class="layui-form-label">已分配总量</label>' +
            '\t\t\t\t<div class="layui-input-block">' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">' +
            '\t\t\t\t</div>' +
            '\t\t\t</div>' +
            '\t\t\t<div class="layui-form-item">' +
            '\t\t\t\t<label class="layui-form-label">未分配总量</label>' +
            '\t\t\t\t<div class="layui-input-block">' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">' +
            '\t\t\t\t</div>' +
            '\t\t\t</div>' +
            '\t\t\t<div class="layui-form-item">' +
            '\t\t\t\t<label class="layui-form-label">创建数量</label>' +
            '\t\t\t\t<div class="layui-input-block">' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">' +
            '\t\t\t\t</div>' +
            '\t\t\t</div>' +
            '\t\t\t<div class="layui-form-item">' +
            '\t\t\t\t<div class="layui-input-block">' +
            '\t\t\t\t\t<button class="layui-btn layui-btn-sm layui-btn-radius" style="float: right">创建</button>' +
            '\t\t\t\t\t<button class="layui-btn layui-btn-sm layui-btn-radius" style="float: right">刷新</button>' +
            '\t\t\t\t</div>' +
            '\t\t\t</div>' +
            '\t\t</form>'
        });
    };

    //兑换码申请
    function applyCode() {
        layer.open({
            type: 1,
            title: '兑换码申请',
            // closeBtn: 0,
            // shadeClose: true,
            area: ['800px', '380px'],
            skin: 'layui-layer-rim',
            content: '<form class="layui-form" style="margin: 15px">\n' +
            '\t\t\t<div class="layui-form-item">\n' +
            '\t\t\t\t<label class="layui-form-label">客户名称</label>\n' +
            '\t\t\t\t<div class="layui-input-block">\n' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">\n' +
            '\t\t\t\t</div>\n' +
            '\t\t\t</div>\n' +
            '\t\t\t<div class="layui-form-item">\n' +
            '\t\t\t\t<label class="layui-form-label">积分面额</label>\n' +
            '\t\t\t\t<div class="layui-input-block">\n' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">\n' +
            '\t\t\t\t</div>\n' +
            '\t\t\t</div>\n' +
            '\t\t\t<div class="layui-form-item">\n' +
            '\t\t\t\t<label class="layui-form-label">申请数量</label>\n' +
            '\t\t\t\t<div class="layui-input-block">\n' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">\n' +
            '\t\t\t\t</div>\n' +
            '\t\t\t</div>\n' +
            '\t\t\t<div class="layui-form-item">\n' +
            '\t\t\t\t<label class="layui-form-label">起始码</label>\n' +
            '\t\t\t\t<div class="layui-input-block">\n' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">\n' +
            '\t\t\t\t</div>\n' +
            '\t\t\t</div>\n' +
            '\t\t\t<div class="layui-form-item">\n' +
            '\t\t\t\t<label class="layui-form-label">结束码</label>\n' +
            '\t\t\t\t<div class="layui-input-block">\n' +
            '\t\t\t\t\t<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">\n' +
            '\t\t\t\t</div>\n' +
            '\t\t\t</div>\n' +
            '\t\t\t<div class="layui-form-item">\n' +
            '\t\t\t\t<div class="layui-input-block">\n' +
            '\t\t\t\t\t<button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm" style="float: right">分配</button>\n' +
            '\t\t\t\t</div>\n' +
            '\t\t\t</div>\n' +
            '\t\t</form>'
        });
    };

    //日期区间special-demo.html
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'laydate'], function () {
        var laydate = layui.laydate;

        //示例代码

        //开始日期
        var insStart = laydate.render({
            elem: '#test-laydate-start',
            min: 0,
            done: function (value, date) {
                //更新结束日期的最小日期
                insEnd.config.min = lay.extend({}, date, {
                    month: date.month - 1
                });

                //自动弹出结束日期的选择器
                insEnd.config.elem[0].focus();
            }
        });

        //结束日期
        var insEnd = laydate.render({
            elem: '#test-laydate-end',
            min: 0,
            done: function (value, date) {
                //更新开始日期的最大日期
                insStart.config.max = lay.extend({}, date, {
                    month: date.month - 1
                });
            }
        });

    });
</script>