<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>layui</title>
   <meta name="renderer" content="webkit">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <link rel="stylesheet" href="../../../start/layui/css/layui.css">
    <link rel="stylesheet" href="../../../start/layui/css/modules/bootstrap.min.css">
    <script src="../../../start/layui/config_admin.js"></script>
    <script src="../../../start/layui/lay/modules/jquery-2.1.4.js"></script>
   <script src="../../../start/layui/layui.js"></script>
    <script src="../../../start/layui/lay/modules/bootstrap-treeview.js"></script>

    <style>
    .layui-table img{max-width:100%;}
    .layui-layer-dialog .layui-layer-content{padding:0 20px 0 0!important;}
    .layui-table, .layui-table-view{margin:0!important;}
    .layui-btns{height:80px;line-height:80px;padding:0 4px;}
</style>



</head>
<body>
<div class="layui-card">
    <div id="" class="layui-card-body" style="padding-top:10px;">
        <a style="margin-left:15px;" href="http://localhost:63342/hyadmin/src/views/activity/addActive.html" class="layui-btn">新增营销活动</a>
        <div class="layui-card-body">
            <table lay-filter="toolbar" class="layui-hide " id="formTable"></table>
        </div>
    </div>

</div>

<script>
    layui.use(['table','form','layer'],function(){
        var table = layui.table,
            layer = layui.layer,
            form = layui.form;

        var tempArray = [];

        table.render({
            elem: '#formTable',
            url:genAPI('/wxDev/sellactivity/getSellActivityListFenye'),
            method:'get',
            page: true,
            cols: [[
                //{type:'numbers'},
                //{type: 'checkbox'},
                {field:'id',align:'center',title:'ID',width:80,},
                {field:'picname',align:'center', title:'图片',width:120, templet: '<div><img src="{{d.fileRealPath}}?v={{Math.random()}}"></div>'},
                {field:'title',align:'center', title:'活动名称'},
                {field:'top',align:'center', title:'是否置顶',width:120,templet: function(d){
                        return d.top == 0 ? "否" : "是";
                    }},
                {field:'opreate',align:'center', title:'操作',  toolbar: '#barDemo'}
            ]],
            request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            response: {
                 statusName: 'code',//数据状态的字段名称，默认：code
                 statusCode: '00000', //成功的状态码，默认：0
                 msgName: 'msg', //状态信息的字段名称，默认：msg
                 countName: 'total',//数据总数的字段名称，默认：count
                 dataName: 'list' //数据列表的字段名称，默认：data
            },
            done: function(res, curr, count){
                console.log(res);
            }
        });
        //监控经销商
        table.on('checkbox(idTest)', function(obj){
            switch (obj.type) {
                case 'all':
                    if (obj.checked) {
                        var firstdata = table.cache.firstTable;
                        var seconddata = table.cache.secondTable;
                        if (seconddata){
                            $(firstdata).each(function () {
                                var push = false;
                                var data = $(this).get(0);
                                $(seconddata).each(function () {
                                    if (data.khdm == $(this).get(0).khdm){
                                        push = true;
                                        return false;
                                    }
                                });
                                if (push) return;
                                tempArray.push(data);
                            });
                        }else{
                            tempArray =  tempArray.concat(firstdata);
                        }
                    } else {
                        var firstdata = table.cache.firstTable;
                        jQuery(firstdata).each(function () {
                            var pos = -1;
                            var data = $(this).get(0);
                            jQuery(tempArray).each(function (i, e) {
                                if (data.khdm == $(this).get(0).khdm){
                                    pos = i;
                                    return false;
                                }
                            });
                            if (pos == -1) return;
                            tempArray.splice(pos,1);
                        });
                    }
                    break;
                case 'one':
                    if (obj.checked) {
                        var contains = false;
                        var seconddata = table.cache.secondTable;
                        if (seconddata){
                            $(seconddata).each(function () {
                                if (obj.data.khdm == $(this).get(0).khdm){
                                    contains = true;
                                    return false;
                                }
                            });
                            if (contains) return;
                            tempArray.push(obj.data);
                        }else{
                            tempArray.push(obj.data);
                        }

                    } else {
                        var pos = -1;
                        $(tempArray).each(function (i, e) {
                            if(obj.data.khdm == $(this).get(0).khdm){
                                pos = i;
                                return false;
                            }
                        });
                        if (pos == -1) return;
                        tempArray.splice(pos, 1);
                    }
                    break;
            }

        });
        $(".layui-btns").click(function () {
            if (tempArray.length < 1) return;
            var  second = table.cache.secondTable;
            if (second) {
                second = second.concat(tempArray);
            }else {
                second = [].concat(tempArray);
            }
            table.reload('tableAdd',{
                data : second,
                limit:second.length,
                id : 'secondTable',
                done: function(){
                    tempArray.splice(0,tempArray.length);
                    second.splice(0,second.length);
                }
            });
        })
        table.on('tool(toolbar)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var id = data.id;

            if(layEvent === 'fabu'){ //发布
                var first = layer.open({
                    type:1,
                    scrollbar:false,
                    title: '发布',
                    btn: ['删除','保存并发布'],
                    area: 'auto',
                    maxWidth:'100%',
                    maxHeight :'100%',
                    content: $("#titleTpl"),
                    btn1: function(index, layero){
                        var seconddata = table.cache.secondTable;
                        var i = seconddata.length;
                        while(i--){
                            console.log(i+"="+seconddata[i]);
                            if(seconddata[i].LAY_CHECKED){
                                seconddata.splice(i,1);
                            }
                        }
                        table.reload('tableAdd',{
                            data : seconddata,
                            limit:seconddata.length,
                            id : 'secondTable'
                        });
                    },
                    btn2: function(index, layero){
                        var seconddata = table.cache.secondTable;
                        if (!seconddata || seconddata.length < 1){
                           layer.msg('您还没有选择发布对象');
                            return false;
                        }
                        var khdmArray = [];
                        $(seconddata).each(function () {
                            khdmArray.push($(this).get(0).khdm);
                        });
                        var khdm = JSON.stringify(khdmArray);
                        var loading = layer.load(1);
                        $.ajax({
                            type:"post",
                            url:genAPI('wxDev/sellactivity/saveSellingActivityScope'),
                            data:{
                                khdm:khdm,
                                id:id
                            },
                            dataType:'json',
                            success:function (res) {
                                if(res.code == '00000'){
                                    table.reload('idTest',{
                                        data : [],
                                        count : 0,
                                        id : 'firstTable',
                                    });
                                    table.reload('tableAdd',{
                                        data : [],
                                        count : 0,
                                        id : 'secondTable'
                                    });
                                    layer.msg("已发布成功", {
                                        time: 4000
                                    },function () {
                                        layer.close(first);
                                    });
                                    layer.close(loading);
                                }else{
                                    layer.msg(res.msg);
                                }

                            }
                        });

                    },
                    success: function(layero, index){
                        console.log(layero, index);
                        var loading = layer.load(1);
                        $.ajax({
                            type:"get",
                            url : genAPI('wxDev/sellactivity/getDistrict'), // 请求的URL
                            dataType : 'json',
                            async : false,
                            cache : false,
                            success : function(res) {
                                console.info(res);
                                layer.close(loading);
                                $('#tree').treeview({
                                    data: res.data,
                                    showBorder:false,
                                    levels:1,
                                    onhoverColor:'#6bbfb7',
                                    selectedBackColor:'#009688',
                                    onNodeSelected: function(event, data) {
                                        // 清空临时数组
                                        tempArray.splice(0,tempArray.length);

                                        table.reload('idTest', {
                                            method:'get',
                                            url: genAPI('wxDev/sellactivity/getKhListByTreeId'),
                                            where: {
                                                treeId: data.treeId
                                            },
                                            id : 'firstTable',
                                           // count:0,
                                            response: {
                                                statusName: 'code',//数据状态的字段名称，默认：code
                                                statusCode: '00000', //成功的状态码，默认：0
                                                msgName: 'msg', //状态信息的字段名称，默认：msg
                                                dataName: 'data' //数据列表的字段名称，默认：data
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                 });

                var h = $(".layui-layer").height();
                $(".layui-btns").css("margin-top",h/2-80+"px");

                //console.info(h/2+"px");
            } else if(layEvent === 'del'){ //删除
                layer.confirm('你确定要删除吗？', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    //向服务端发送删除指令
                    $.ajax({
                        url:genAPI('wxDev/sellactivity/deleteSellActivityById'),
                        type:"post",
                        data:{
                            "id":id,
                        },
                        dataType:"json",
                        success:function (res) {
                            if(res.code == '00000'){
                                layer.msg("已经删除成功", {
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    layer.close(second);
                                });
                            }else{
                                layer.msg(msg);
                            }

                        }
                    })



                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
                console.info(obj);
            } else if(layEvent === 'fabudx'){
                var second = layer.open({
                    type:1,
                    scrollbar:false,
                    title: '删除发布对象',
                    btn: ['删除'],
                    area: 'auto',
                    maxWidth:'100%',
                    maxHeight :'100%',
                    content: $("#fbContent"),
                    btn1: function(index, layero){
                        var fbdxData = table.cache.tableCon;
                        var fbdxArray = [];
                        $(fbdxData).each(function (i) {
                            if(fbdxData[i].LAY_CHECKED){
                                fbdxArray.push($(this).get(0).khdm);
                            }
                            var fbdxArr = JSON.stringify(fbdxArray);
                            layer.confirm('你确定要删除吗？', function(index){

                                $.ajax({
                                    url:genAPI('wxDev/sellactivity/deleteSellingActivityScope'),
                                    type:"post",
                                    data:{
                                        "id":id,
                                        "scope":fbdxArr
                                    },
                                    dataType:"json",
                                    success:function (res) {
                                        if(res.code == '00000'){
                                            layer.msg("已经删除成功", {
                                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                            }, function(){
                                                layer.close(second);
                                            });
                                        }else{
                                            layer.msg(msg);
                                        }

                                    }
                                })
                            });

                        });

                    },
                    success: function(layero, index){
                        console.log(layero, index);
                        table.reload('tableContent', {
                            method:'get',
                            url: genAPI('wxDev/sellactivity/getSellingActivityScopeById'),
                            where: {
                                id: id
                            },
                            id : 'tableCon',
                            response: {
                                statusName: 'code',//数据状态的字段名称，默认：code
                                statusCode: '00000', //成功的状态码，默认：0
                                msgName: 'msg', //状态信息的字段名称，默认：msg
                                dataName: 'data' //数据列表的字段名称，默认：data
                            }
                        });
                    }
                });
            }
        });

    });

</script>
<div style="display: none" id="titleTpl">
    <div id="tree" style="height: 400px;width:165px;font-size:12px;overflow-y :scroll;float: left"></div>
    <div style="width:400px;font-size:12px;float: left;min-height:100%;">
        <table class="layui-table" lay-data="{id:'idTest',height:400,loading:'true'}" lay-filter="idTest" >
            <thead>
            <tr>
                <th lay-data="{checkbox:true}"></th>
                <th lay-data="{field:'khmc',width:'80%'}">客户名称</th>
            </tr>
            </thead>
        </table>

    </div>
    <div style="width:28px;float: left;margin:auto 10px;">
        <button class="layui-btn layui-btns"> >> </button>
    </div>
    <div style="width:400px;font-size:12px;float: left;min-height:100%;">
        <table class="layui-table" lay-data="{id:'tableAdd',height:400,loading:'true'}" lay-filter="tableAdd">
            <thead>
            <tr>
                <th lay-data="{checkbox:true}"></th>
                <th lay-data="{field:'khmc',width:'80%'}">客户名称</th>
            </tr>
            </thead>
        </table>

    </div>
</div>
<div id="fbContent" style="display: none">
    <table style="margin:20px;" class="layui-table" lay-data="{id:'tableContent',height:400,loading:'true'}" lay-filter="tableContent">
        <thead>
            <tr>
                <th lay-data="{checkbox:true}"></th>
                <th lay-data="{field:'khmc',width:'50%'}">发布客户</th>
                <th lay-data="{field:'createDate',width:'30%'}">发布时间</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="fabu">发布</a>
    <a href="{{aLink('src/views/activity/addActive.html?id=')}}{{d.id}}" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="fabudx">已发布对象</a>
</script>

</body>

</html>