<link rel="stylesheet" href="../../../start/layui/css/layui.css">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">轮播图</div>
                <div class="layui-card-body" pad15>
                gsdteyfsfgjsdg
                </div>
            </div>
        </div>
    </div>
</div>

<script>
console
    /*setInterval(aa,2000);
    function aa() {
        //alert(11);
        window.history.go(-1)

    }*/

</script>